.editor-medium {
    height: 500px;
}

.medium-editor-element {
    padding: 1rem 0.75rem;
}
// fix placeholder alignment
.medium-editor-insert-plugin.medium-editor-placeholder:after {
    padding: 1rem 0.75rem;
}

// fix editor insert plugin alignment
.medium-editor-insert-plugin .medium-insert-buttons {
    margin-top: -0.3rem;
    margin-left: -3.5rem;
}
